* ::after,
::before {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: 500;
  touch-action: manipulation;
  background-color: #fff;
  font-family: "Antonio", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

